[Unit]
Description = pymap IMAP server - %I
Wants = pymap@%i.socket

[Service]
Type = notify
Environment = \
 ADMIN_SOCK=/var/run/pymap-%i.sock \
 PYMAP_ARGS=@/etc/pymap.%i
EnvironmentFile = -/etc/default/pymap-%i
ExecStart = /opt/pymap/bin/pymap \
 --admin-socket $ADMIN_SOCK \
 $PYMAP_ARGS
ExecStopPost = rm -f $ADMIN_SOCK

[Install]
WantedBy = multi-user.target
