[Unit]
Description = pymap IMAP server - %I
Wants = pymap@%i.socket

[Service]
Type = notify
Environment = \
 PYMAP_ADMIN_SOCK=/var/run/pymap-%i.sock \
 PYMAP_ARGS=@/etc/pymap.args
EnvironmentFile = -/etc/default/pymap
EnvironmentFile = -/etc/default/pymap-%i
ExecStart = /opt/pymap-%i/bin/pymap $PYMAP_ARGS
ExecStopPost = rm -f $PYMAP_ADMIN_SOCK

[Install]
WantedBy = multi-user.target
