[Unit]
Description = pymap IMAP server - %I
Wants = pymap@%i.socket

[Service]
Type = notify
EnvironmentFile = /etc/default/pymap-%i
ExecStart = /opt/pymap/bin/pymap \
 --admin-socket /var/run/pymap-%i.sock \
 $PYMAP_ARGS
ExecStopPost = rm -f /var/run/pymap-%i.sock

[Install]
WantedBy = multi-user.target
