
default['slimta']['install_extensions'] = [
  'python-slimta-spf',
  'python-slimta-redisstorage',
]

default['slimta']['version_lock'] = {
  'python-slimta' => '1.0.2',
  'slimta' => '0.4.0',
  'python-slimta-spf' => '0.1.1',
  'python-slimta-redisstorage' => '0.1.5',
}

default['mail.slimta.org']['redis_prefixes'].tap do |prefixes|
  prefixes['inbound'] = 'slimta:inbound:'
  prefixes['outbound'] = 'slimta:outbound:'
  prefixes['addresses'] = 'slimta:address:'
end

default['mail.slimta.org']['certs'].tap do |certs|
  certs['key'] = '/etc/slimta/certs/mail.slimta.org/privkey.pem'
  certs['cert'] = '/etc/slimta/certs/mail.slimta.org/fullchain.pem'
end

# vim:sw=2:ts=2:sts=2:et:ai:ft=ruby:
